

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    font-family: sans-serif;
 
    
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;  
}
.form input{
    height: 35px;
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 20px;
    min-width: 250px;

}
textarea:focus, input:focus{
    outline: none;
}

.form button{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
.form button:hover{
    color: #fa6400;
    background-color: white;
    border: 1px solid grey;
}

.no-result{
    color:rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 550;
}

.cities-found{
    color:black;
    font-size: 16px;
    font-weight: 550;
    margin-top: 24px;
}

.list{
    margin: 0;
    padding-inline-start: 0;
}

.city{
    background-color: #5f5f5f;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 12px;
    padding: 16px 32px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.city:hover{
    transform: scale(1.1);
}